{% extends 'main/base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">{{ options('app_name') }}</h1>
    <hr>
    <p class="lead">PMD DEVELOPPER| Malick Tounkara</p>
    <hr class="my-2">
    <p>{{'More info'|trans}}</p>
    <p>{{ site.description }}</p>
    {% if is_granted('ROLE_USER') %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ path('admin') }}" role="button">Tableau de bord</a>
    </p>
    {% else %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">{{'Log in'|trans}}</a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
