{% import "macros/breadcrumb.html.twig" as breadcrumbs %}
{% import "macros/link.html.twig" as link %}
{% import "macros/dataTable.html.twig" as dataTable %}

{% extends 'admin/base.html.twig' %}
{% block head %}
	{{ dataTable.css() }}
{% endblock %}

{% block foot %}
	{{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
	{{ dataTable.script('#table-1') }}
{% endblock %}

{% block breadcrumb %}
	{{ breadcrumbs.breadcrumb('Gestion des options',[])}}
{% endblock %}

{% block title %}Paramètres {% endblock %}

{% block body %}
	{% include "includes/_alerte.html.twig" %}
	<div class="card card-outline card-primary">
		<div class="card-header">
			Paramètres
		</div>
		<div class="card-body">
            <a class="btn btn-primary" href="{{ path('app_admin_options_new') }}">Ajouter une option</a>
			<hr>
			<table id="table-1" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Value</th>
						<th>Label</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for option in options %}
						<tr>
							<td>{{ option.id }}</td>
							<td>{{ option.name }}</td>
							<td>{{ option.value }}</td>
							<td>{{ option.label }}</td>
							<td>
								{{ link.show(path('app_admin_options_show', {'id': option.id})) }}
								{{ link.edit(path('app_admin_options_edit', {'id': option.id})) }}
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">{{'no records found'|trans}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
        {{ link.back(path('admin'), 'back to dashboard'|trans) }}

{% endblock %}
