{% extends "main/base.html.twig" %}

{% block body %}
{% include "includes/_alerte.html.twig" %}
<section>
    <div class="container bg-light">
        {{ form_start(form,{
          attr:{
            id:'contact-form'
          }
        })}}
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="form-group">
                    <label for="">Name <span>*</span> </label>
                    {{form_widget(form.name,{
                    attr:{
                    'class':'size-input'
                    }
                    })}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Phone <span>*</span></label>
                    {{form_widget(form.phone_number,{
                    attr:{
                    class:'size-input'
                    }
                    })}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email <span>*</span></label>
                    {{form_widget(form.email,{
                    attr:{
                    class:'size-input'
                    }
                    })}}
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="form-group ">
                    <label for="exampleInputEmail1 ">Your Message <span>*</span></label>
                    {{ form_widget(form.message) }}
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="g-recaptcha btn btn-default" 
                data-sitekey="6Lf5x_ceAAAAAGo5ObTVmBQva3GcIV8nzhmu2xlI" 
                data-callback='onSubmit'><i class="fas fa-paper-plane"></i>&nbsp;Submit</button>
            </div>
        </div>
        {{form_widget(form)}}
        {{ form_end(form)}}
        <script>onload();</script>
    </div>
</section>
{% endblock %}
