{% extends "admin/base.html.twig" %}
{% block head %}
<link rel="stylesheet" href="{{ asset('css/chat.css') }}">
{% endblock %}
{% block body %}
<div class="content">
	<div class="container p-0">
		<div class="card card-chat">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input type="text" class="form-control my-3" placeholder="Search...">
							</div>
						</div>
					</div>
					<div class="user-conversation">
						<div class="user-conversation-loader">
							<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
						</div>

						{# {% for item in users %}
						<a data-emetteur="{{app.user.id}}" data-recepteur="{{item.id}}" href="#"
							class="list-group-item list-group-item-action border-0 conversation">
							<div class="badge bg-success float-right">{{ item.recu|length }}</div>
							<div class="d-flex align-items-start">
								<img src="https://bootdey.com/img/Content/avatar/avatar5.png"
									class="rounded-circle mr-1" alt="" width="40" height="40">
								<div class="flex-grow-1 ml-3">
									{{ item.personne.fullName }}
									<div class="small">
										<span class="fas fa-circle chat-online"></span>
										Online
									</div>
								</div>
							</div>
						</a>
						{% endfor %}
						<a href="#" class="list-group-item list-group-item-action border-0">
							<div class="d-flex align-items-start">
								<img src="https://bootdey.com/img/Content/avatar/avatar4.png"
									class="rounded-circle mr-1" alt="Christina Mason" width="40" height="40">
								<div class="flex-grow-1 ml-3">
									Christina Mason
									<div class="small">
										<span class="fas fa-circle chat-offline"></span>
										Offline
									</div>
								</div>
							</div>
						</a> #}
					</div>
					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9 chat-content">
					<div class="chat-content-loader">
						<div class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
	$(document).ready(function () {
		// chatScrollToBottom() // maintient le scroll en bas
		$(document).on('click', '#send', function () {
			let message = $('.message-send').val()
			let id_recepteur = $(this).data('recepteur')
			if (message == '') {
				alert('Le message ne peut pas etre vide')
				return
			}
			$.ajax({
				url: "{{path('chat_new')}}",
				method: "POST",
				dataType: 'json',
				data: {
					chat_new: '',
					id_recepteur: id_recepteur,
					message: message
				},
				beforeSend: function () {
				},
				success: function (data) {
					if (data == 'success') {
						$('.chat-messages').append(sendApendHtml(message))
						chatScrollToBottom()
						$('.message-send').val('')
					} else {
						alert("le message n'a pas pu etre envoyé")
					}
				}
			})
		}) //send message

		function sendApendHtml(message) {
			let date = new Date();
			let html =
				'<div class="chat-message-right mb-4">'
				+ '<div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">'
				+ '<div class="font-weight-bold mb-1">You</div>'
				+ message
				+ '<div class="text-muted small text-nowrap mt-2 float-right ml-2">'
				+ date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds()
				+ '</div>'
				+ '</div>'
				+ '</div>'
			return html
		}

		function chatScrollToBottom() {
			$('.chat-messages').scrollTop($('.chat-messages')[0].scrollHeight)
		}
		setInterval(() => {
			
		}, 500);
		$(document).on('click', '.conversation', function () {
			let recepteur = $(this).data('recepteur');
			if (recepteur) {
				$.ajax({
					url: "{{path('chat_get_content')}}",
					method: "POST",
					dataType: 'text',
					data: {
						content: '',
						recepteur: recepteur,
					},
					beforeSend: function () {
						// $('.user-conversation-loader').css('display')
					},
					success: function (data) {
						$('.chat-content').html(data)
						chatScrollToBottom()
					}
				})
			}

		})


		getUserConversation()
		function getUserConversation() {
			$.ajax({
				url: "{{path('chat_get_user_conversation')}}",
				method: "POST",
				dataType: 'text',
				data: {},
				beforeSend: function () {
				},
				success: function (data) {
					$('.user-conversation').html(data)
				}
			})

		}

	})
</script>
{% endblock %}