{% import "macros/breadcrumb.html.twig" as utils %}
{% import "/macros/image.html.twig" as image %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/link.html.twig" as links %}
{% import "macros/role.html.twig" as roles %}

{% extends "admin/base.html.twig" %}

{% block title %}Profile utilisateur{% endblock %}

{% block breadcrumb %}
{{ utils.breadcrumb('Profile',[
{
path:'article_index',
name:'Manage Articles'
}
])}}
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ asset('vendor/cropper/cropper.min.css') }}">
{% endblock %}

{% block body %}
{% for item in app.flashes('success') %}
{{ alerte.alert(item,'success')}}
{% endfor %}
<style>
  #image {
    display: block;
    max-width: 100%;
  }
</style>
<div class="row">
  <div class="col-md-3">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle"
            src="{{ asset('img/user/' ~ app.user.personne.avatar|default('empty.png') ) }}"
            alt="{{ app.user.personne.firstName ~ ' ' ~ app.user.personne.lastName  }}">
        </div>
        <h3 class="profile-username text-center">{{app.user.personne.lastName | title}} {{app.user.personne.firstname |
          title }}</h3>
          <p>
          <a href="#" class="a">Modifier le mot de passe <i class="fas fa-pencil-alt text-success"></i> </a>
          </p>
        

        <button type="button" id="btn-editor" class="btn btn-primary mb-3 btn-block">
          <b>Modifier <i class="fas fa-pencil-alt"></i> </b>
        </button>
        <div id="js-editor">
          {{ form_start(form,{
          attr:{
          'novalidate':'novalidate'
          },action: path('profile_edit',{id: app.user.id })}) }}
          {{ form_widget(form) }}
          <button class="btn btn-primary btn-lg">Update <i class="fas fa-save"></i> </button>
          {{ form_end(form) }}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
  <div class="col-md-9">
    <div class="card">
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a
              class="nav-link {% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %}"
              href="#information" data-toggle="tab">Information</a></li>
          <li class="nav-item"><a class="nav-link" href="#reglage" data-toggle="tab">Reglage</a></li>
        </ul>
      </div><!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content">
          <div
            class="{% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %} tab-pane"
            id="information">
            <div class="row">
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-user mr-1"></i> compte</strong>
                <p class="text-muted">
                {% for item in app.user.roles %}
                  {{ roles.role(item)}}
                {% endfor %}
                </p>
              </div>
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-book mr-1"></i> Email</strong>
                <p class="text-muted">
                  {{app.user.email}} {{ links.iconEdit()}}
                </p>
              </div>
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>
                <p class="text-muted">
                  Sacre coeur 2, Dakar senegal
                </p>
              </div>
              <div class="col-md-4 col-12">
                <strong><i class="fas fa-phone mr-1"></i> Telephone</strong>
                <p class="text-muted">
                  +221 78 127 82 88
                </p>
              </div>
            </div>
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="reglage">
            <p>Reglage</p>
          </div>
          <!-- /.tab-pane -->


          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div><!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->
{% endblock %}
{% block foot %}
<!-- cropper -->
<script src="{{ asset('vendor/cropper/cropper.min.js') }}"></script>
{% endblock %}

{% block javascripts %}
<script>
  $(document).ready(function () {
    $('.mon-profile').addClass('active')

    $(document).on('click', '#btn-editor', function () {
      $('#js-editor').animate({
        height: 'toggle'
      })
    })
    const image = document.getElementById('image');
    const cropper = new Cropper(image, {
      aspectRatio: 16 / 9,
      crop(event) {
        console.log(event.detail.x);
        console.log(event.detail.y);
        console.log(event.detail.width);
        console.log(event.detail.height);
        console.log(event.detail.rotate);
        console.log(event.detail.scaleX);
        console.log(event.detail.scaleY);
      },
    })
  })
</script>
{% endblock %}